<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1990 12:00:00 GMT" />

<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="/static/css/data_table.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/util.css" media="screen" />
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
</head>



<body>
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
        {html_table_request}
        <br>
        {html_table_results}
        </div>
        <div class="table100">
          {html_chart_percents}
        </div>
           <div class="table100">
          {html_table_main}
          </div>
      </div>
    </div>
  </div>



</body>
</html>